*{
    box-sizing: border-box;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}
.card{
    flex:0 0 250px;
    /* flex: flex-grow flex-shrink flex-basis */
    margin:10px;
}
.card img{
    max-width: 100%;
}
.card .text{
 padding:0 20px 20px;
}
.button{
    width:100%;
    display: block;
    background: #05a081;
    padding:10px;
    text-align: center;
    color:white;
}

