/* selector & declaration */
/* selector {Propername:value} */
@import url('https://fonts.googleapis.com/css?family=Nanum+Brush+Script|Nanum+Gothic|Nanum+Myeongjo');

/* css variables - root & var() */
:root{
    --main-color:pink;
    --text-color:crimson;

}



p{
    color:blue;
}

body{
    /* font-style: italic;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 13px;
    line-height: 150&;
    font-family:Arial, Helvetica, sans-serif; */
     
    /* shorthand */
    font:italic small-caps bold 13px/150% 'Nanum Myeongjo';
    background-color: var(--main-color);
    color: var(--text-color);

}
/* Color Name, RGB */

h4{
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

p{
    color:var(--text-color);
}