*{
    box-sizing: border-box;
}

nav ul{
    text-decoration: none;
    list-style-type: none;
    display:flex;
}

nav ul li{
    flex: 1 1 0;
}
/* this make the nav to be flexbox */
nav ul li a{
    text-align: center;
display: block;
padding: 10px;}

.cards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;

}
.cards img{
    max-width: 20vw;
    margin:10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.34), 0 2px 4px rgba(0,0,0,0.2);   
}